input {
    width: 50%;
    padding: 20px;
    border: none;
    border-radius: 10px;
}

body {
    text-align: center;
    padding-top: 200px;
    background-color: rgb(77, 230, 77);
}

h2 {
    text-transform: capitalize;
    color: white;
}